@import "variables";
@import "colors";
@import "global";
@import "typography";


nav {
  box-shadow: 5px 5px 10px $ltGray;
}

.nav-link {
  text-transform: uppercase;
  color: $dkGray;
  &:hover {
    color: $dkGray;
    transform: all 0.5s;
  }
}

.navbar-brand {
  color: $brightBlue !important;
  letter-spacing: 0.1em;
}

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: $ltGray;
  border: 1px solid $royalBlue;
  width: 100%;
}


@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 767px) {
  .nav-appointment-btn {
    display: none;
  }
}

//  Tablet Styles

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-appointment-btn {
    display: none;
  }
}

// Desktop Styles 

@media only screen and (min-width: 1025px) {
  // .navbar-collapse ul {
  //   display: flex;
  //   justify-content: space-between;
  // }
  // .nav-item {
  //   display: flex;
  //   justify-content: space-between;
  //   padding: 10px 40px;
  //   letter-spacing: 0.1em;
  //   opacity: 0.5;
  //   &:hover {
  //     color: $dkGray !important;
  //     font-weight: 600;
  //   }
    .megamenu {
      position: static;
    }
    .megamenu .dropdown-menu {
      background: $white;
      border: none;
      width: 100%;
    }

  }
  
  .appointment {
    background: $brightBlue;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    &:hover {
      background-color: $royalBlue;
      transition: all 0.5s;
    }
  }
  .appointment a {
    text-transform: uppercase !important;
    color: $white;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    &:hover {
      text-decoration: none;
      background-color: $royalBlue;
      transition: all 0.5s;
    }
  
}